

.mydiv{
    border: 0.5px solid black; 
    text-align: center;
}



.connect-4-board {
    display: grid;
    grid-auto-rows: 100px;
    background: #167bff;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

.row {
    gap: 10px;
}

.col {
    border: 1px solid black;
    border-radius: 100vh;
    height: 100px;
    width: 100px;
    background: white;
    flex: none;
}

.score-table {
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    max-width: 400px;
}

.score-table thead {
    border-bottom: 1px solid black;
}

.score-table td:first-child,
.score-table th:first-child {
    border-right: 1px solid black;
}

.score-table td,
.score-table th {padding: 10px}


.field label {
    width: 100px;
}



